/*RESET*/
* {
  margin: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  box-sizing: border-box;
}

/*VARIABLES*/
:root {
  --font-type-adalab: "Rubik", sans-serif;
  --text-menu-color: #4a4a4a;
  --background-color-menu: #3cdbc0;
  --main-text-color: #ffffff;
}

/* header's styles"*/
.header {
  font-family: var(--font-type-adalab);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  padding-top: 10px; /*con margin se ve el fondo del main si se sube mucho*/
}

.menu {
  display: flex;
}
.menu-item {
  list-style-type: none;
  text-decoration-color: var(--text-menu-color);
  font-size: 16px;
  padding: 10px; /*centro deja 20px entre items*/
}
.link {
  color: var(--text-menu-color);
  text-decoration: none;
}

/* Body's styles */

.main {
  height: 100vh;
  margin-top: 110px; /*lo que mide header*/
  background-color: var(--background-color-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
}

.title {
  font-family: var(--font-type-adalab);
  text-align: center;
  width: 155px; /*a ojo me parece como el logo de ancho*/
  font-size: 30px;
}

/* ADDING MEDIAQUERIES*/

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }
  .main {
    margin-top: 101px; /*para ajustar al header*/
  }
}
