/*RESET*/
* {
  margin: 0px;
  border: 1px solid red;
  font-family: var(--font-type-adalab);
}

/*VARIABLES*/
:root {
  --font-type-adalab: "Rubik", sans-serif;
  --text-menu-color: #4a4a4a;
  --background-color-menu: #3cdbc0;
  --main-text-color: #ffffff;
}

/* header's styles"*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0;
  background-color: white;
}

.menu {
  width: 155px;
  display: flex;
  justify-content: space-between;
}
.menu-item {
  list-style-type: none;
  text-align: left;
  text-decoration-color: var(--text-menu-color);
  font: 16px;
}
.link {
  text-decoration-color: var(--text-menu-color);
  text-decoration: none;
}

/* Body's styles */

.main {
  width: 100%;
  height: 100vh;
  margin-top: 99px; /*lo que mide header + 13px*/
  background-color: var(--background-color-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-size: 30px;
}

.title {
  width: 100%;
  height: auto;
  margin: 0 50px;
  text-align: center;
}
